.root {
    display: flex;
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
    flex-direction: column;
}
.root.dark {
    background-color: #000;
}
.imageContainer {
    width: 100%;
    background-repeat: no-repeat !important;
}
.image {
    opacity: 0.75;
    /* position: absolute; */
    z-index: 0
}
.banner {
    /* position: absolute; */
    z-index: 15;
    width: 100%;
    margin: 70px auto 20px auto
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.heading{
    color: #FFF;
    font-size: 30px;
    letter-spacing: 10px
}
.input {
    background-color: #FFF;
    padding: 3px 8px;
    margin: 16px auto 10px auto;
    outline: 0;
    border: 0;
    font-size: 16px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 40px,

}
.input.dark {
    color: #FFF;
    background-color: #252739;
}
.itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.itemHolder {
    background-color: #FFF;
    padding: 20px 16px;
    min-width: 40%;
    border-radius: 4px;
    border-bottom: 1px solid #D3D3D3;
    color: hsl(235, 19%, 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemHolder.dark {
    background-color: #252739;
    color: #FFF;
}
.itemNames {
    display: flex;
    align-items: center;
}
.itemEdits {
    width: 10%;
    display: flex;
    justify-content: space-between;
}
.controls {
    background-color: #FFF;
    padding: 20px 16px;
    min-width: 40%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.controls.dark {
    background-color: #252739;
    color: #FFF;
}
.tabValue {
    padding:  0px 16px;
    color:  hsl(236, 9%, 61%)
}
.tabActive {
    color: hsl(192, 100%, 67%)
}
.tabValue.dark {
    color: #FFF
}
.subText {
   margin-top: 20px;
   text-align: center;
   color: #000;
}
.subText.dark {
    color: #FFF;
}
.count , .clearLink {
    color:  hsl(236, 9%, 61%)
}
.count.dark{
    color: #FFF
}
.clearLink.dark {
    color: #FFF
}
.icon {
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.name {
    padding-left: 18px
}
.uncheckIcon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #d3d3d3
}
.editIcon {
    color: #d3d3d3;
}
.editIcon:hover {
    color: green;
}
@media(max-width:800px){
    .itemHolder {
        width: 63%;
    }
    .input {
        width: 63%;
    }
}
@media (max-width:600px) {
    .itemHolder {
        width: 80%;
    }
    .input {
        width: 80%;
    }
    .tabContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .controls {
        width: 80%
    }
}