.root {
    display: flex;
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
    flex-direction: column;
}
.imageContainer {
    position: relative;
    width: 100%
}
.image {
    opacity: 0.75;
    position: absolute;
    z-index: 0
}
.banner {
    position: absolute;
    z-index: 15;
    width: 100%;
    margin: 70px auto 20px auto
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.heading{
    color: #FFF;
    font-size: 30px;
    letter-spacing: 10px
}
.input {
    background-color: #FFF;
    padding: 3px 8px;
    margin: 16px auto 10px auto;
    outline: 0;
    border: 0;
    font-size: 16px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 40px
}
.itemContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.itemHolder {
    background-color: #FFF;
    padding: 20px 16px;
    min-width: 40%;
    border-radius: 4px;
    border-bottom: 1px solid #D3D3D3;
    color: hsl(235, 19%, 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemNames {
    display: flex;
    align-items: center;
}
.itemEdits {
    width: 10%;
    display: flex;
    justify-content: space-between;
}
.controls {
    background-color: #FFF;
    padding: 20px 16px;
    min-width: 40%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.tabValue {
    padding:  0px 16px;
    color:  hsl(236, 9%, 61%)
}
.tabActive {
    color: hsl(192, 100%, 67%)
}
.subText {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.count , .clearLink {
    color:  hsl(236, 9%, 61%)
}
.icon {
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.name {
    padding-left: 18px
}
.uncheckIcon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #d3d3d3
}
.editIcon {
    color: #d3d3d3;
}
.editIcon:hover {
    color: green;
}